<ion-view view-title="Travestis">
    <ion-nav-bar class="bar-stable bar-positive">
        <ion-nav-back-button >
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content>
<!--
    <div class="search">
        <input ng-model="query">
    </div>
-->
<!--
    <ion-list>
      <ion-item collection-repeat="womanList in womanLists | filter:query" href="#">
        {{womanList.name}}
      </ion-item>
    </ion-list>
-->

  </ion-content>
</ion-view>
